[submodule "Ura/sparqlist"]
	path = Ura/sparqlist
	url = https://github.com/Ningensei848/sparqlist.git
[submodule "Omote/metastanza"]
	path = Omote/metastanza
	url = https://github.com/Ningensei848/metastanza.git
